.section-intro{
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -25rem;
}

.section-algorithm{
    background-color: $color-grey-light-1;
    position: relative;
    padding: -5rem 0;
    
}

.section-summary{
    background-color: $color-grey-light-1;
    position: relative;
    padding: -5rem 0; 
}

.section-simulation{
    position: relative;
    padding: 5rem 0; 
}
